@charset "utf-8";
/* CSS Document */

p{
	color:indigo;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	line-height: 16px;
	width: 600px;
	background-color:whitesmoke;
	opacity: 85%;
	padding:20px;
}
h1{
	color:indigo;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";background-color:thistle;
	opacity: 90%;
	width: 700px;
}
h2,h3{
	color:rebeccapurple;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";background-color:thistle;
	opacity: 80%;
	width: 700px;
}

a{
	color:rebeccapurple;
	background-color:thistle;
	padding:4px;
	line-height:30px;
	border:3px #000000;
}
a:hover{
	background-color: mediumorchid
}
.pozadina{
	background-image: url("file:///D:/index/stil/1.png");
}
.drugapozadina{
	background-color:darkorchid;
}

ul{
	color:black;
	background-color:mediumorchid;
	width: 200px;
}