@charset "utf-8";
/* CSS Document */
p{
	color:darkcyan;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	line-height: 16px;
	width: 600px;
	background-color:powderblue;
	opacity: 85%;
	padding:20px;
}

h1,h2{
	color:teal;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";background-color:lightcyan;
	opacity: 70%;
	width: 700px;
}

a{
	color:black;
	background-color:whitesmoke;
	padding:5px;
	line-height:40px;
	border:1px solid #000000;
}
a:hover{
	background-color: darkcyan
}
.pozadina{
	background-image: url("Multimedija/pozadina.jpg");
}
.drugapozadina{
	background-color: powderblue;
}
img{
	height:100;
}

blockquote{
	color:whitesmoke;
	background-color:cadetblue;
	width: 200px;
	padding:5px;
}

ol,ul{
	color:black;
	background-color:darkseagreen;
	width: 200px;
}

mark{
	background-color: whitesmoke;
}